<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fontPage</title>
</head>
<body>
flask learning fontPage
<h1>flask learning fontPage</h1>
<h2>flask learning fontPage</h2>
<h3>flask learning fontPage</h3>
<h4>flask learning fontPage</h4>
<h5>flask learning fontPage</h5>
<h6>flask learning fontPage</h6>
<h1>{{ user.username }} | {{ user.email }}</h1>
<div>{{ person['username'] }} | {{ person['email'] }}</div>
<div>{{ person.get('username') }} | {{ person.get('email') }}</div>
</body>
</html>